@model LudoBrowser.Models.LudoPlayer
@{
    ViewData["Title"] = "Welcome";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

    <div class="jumbotron text-center">
        <h1>Ultimate Ludo Game!</h1>
        <p>Looking for a game of ludo? You came to the right spot!</p>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h3>Start new game below!</h3>
                <p>
                    Press below to start a new game with a minimum of 2
                    and a maximum of 4 players!
                </p>
                @*<button type="button" id="button1">JOIN LOBBY!</button>*@
                <form asp-action="board" asp-controller="Ludo">
                    <div>
                        <input asp-for="Name" type="text" placeholder="Your name here" />
                    </div>
                    <div>
                        <label asp-for="Color"></label>
                        <select asp-for="Color">
                            <option value="0">Red</option>
                            <option value="1">Blue</option>
                            <option value="2">Green</option>
                            <option value="3">Orange</option>
                        </select>
                        <select asp-for="Id">
                            <option value="0">ID 1</option>
                            <option value="1">ID 2</option>
                            <option value="2">ID 3</option>
                            <option value="3">ID 4</option>

                        </select>
                    </div>
                    <input id="PlayerButton" type="submit" class="button" value="New Game" />
                </form>
            </div>

            <div class="col-sm-4">
                <h3>Continue game!</h3>
                <p>
                    Did you leave the game before you had a chance to win?
                    Just press the button below and you will be right back!
                </p>

                <button type="button" id="button2">Load game!</button>
            </div>

            <div class="col-sm-4">
                <h3>Delete game!</h3>
                <p>
                    Sick of playing? Dont worry just press below and
                    we wont bother you anymore!
                </p>

                <button type="button" id="button3">Delete Game!</button>

            </div>
        </div>
    </div>


</body>
</html>

@*@section Scripts {
    <script>
        document.getElementById("button1").onclick = function () {

            window.location.href = "ludo/board";
            window.alert("Redirecting to game lobby!");

        }
    </script>
}*@

@*@section Scripts {
        <script>
            $("#button1").click(function () {
                $.ajax({
                    type: 'get',
                    url: '/newgame',
                    success: function (data) {
                        alert("This worked!");
                    },
                    timeout: 5000
                })
            })
        </script>
    }*@
