
@{
    ViewData["Title"] = "Welcome";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

    <div class="jumbotron text-center">
        <h1>Ultimate Ludo Game!</h1>
        <p>Looking for a game of ludo? You came to the right spot!</p>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h3>Start new game below!</h3>
                <p>
                    Press below to start a new game with a minimum of 2
                    and a maximum of 4 players!
                </p>
                <button type="button" id="button1">JOIN LOBBY!</button>
            </div>

            <div class="col-sm-4">
                <h3>Continue game!</h3>
                <p>
                    Did you leave the game before you had a chance to win?
                    Just press the button below and you will be right back!
                </p>

                <button type="button" id="button2">Load game!</button>
            </div>

            <div class="col-sm-4">
                <h3>Delete game!</h3>
                <p>
                    Sick of playing? Dont worry just press below and
                    we wont bother you anymore!
                </p>

                <button type="button" id="button3">Delete Game!</button>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h3>Add your name to start the game:</h3>
                <p>Start a new game or choose an existing one! </p>

            </div>

            <div class="col-md-2">
                <div class="form-group">
                    <label for="nameText" class="control-label">Name</label>
                    <div class="input-group">
                        <input id="nameText" type="text" class="form-control">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-warning">
                                X
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-sm-8">
                        <div class="list-group">
                            <a href="#" class="list-group-item">First item</a>
                            <a href="#" class="list-group-item">Second item</a>
                            <a href="#" class="list-group-item">Third item</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

@section Scripts {
    <script>
        document.getElementById("button1").onclick = function () {

            window.location.href = "ludo/board";
            window.alert("New Game started press here to leave this page!");

        }
    </script>
}

@*@section Scripts {
    <script>
        $("#button1").click(function () {
            $.ajax({
                type: 'get',
                url: '/newgame',
                success: function (data) {
                    alert("This worked!");
                },
                timeout: 5000
            })
        })
    </script>
}*@
